<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new post</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
{% for e in form.non_fields_errors %}
<div class="alert alert_danger">{{ e }}</div>
{% endfor %}
<form class="from-horizontal" method="post" action="/post/add/">
    {% csrf_token %}
    <fieldset>
        {% for field in form %}
        <div class="control-group {% if field.errors %}has-error{% endif %}">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">{{ field }}</div>
        </div>
        {% endfor %}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>
<img src="http://127.0.0.1:8000/test/?id=123"
     alt="Not found">
</body>
</html>